#wrap { 
    background: url('../img/tree.jpg') no-repeat 0 0;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

#content { 
    background: #fff; 
    width: 90%;  
    max-width: 1800px;
    height: 90%; 
    max-height: 745px; 
    box-shadow: 0 0 32px rgba(0,0,0,.85);
}

#factory { background: url('../img/factory.jpg') no-repeat 50% 35%; }
#dark { background: url('../img/dark.jpg') no-repeat 50% 5%; }
#fox { background: url('../img/fox.jpg') no-repeat 50% 50%; }
#factory2 { background: url('../img/factory_2.jpg') no-repeat 50% 25%; }


/* section-component */

.section-component {  
    background-size: cover !important; 
    position: relative; 
    width: 25vw;  
    flex-grow: 1;  
    z-index: 10; 
    transition: all .3s ease-in-out;
    transition-delay: .1s;
    overflow: hidden; 
}

.section-component .close-box { 
    position: fixed;
    right: -32px; 
    top: 32px; 
    opacity: 0;
    z-index: 30; 
    transition: opacity 1s ease-in-out, right .8s ease-in-out; 
    transition-delay: 1s;
}

.section-component.on .close-box {  
    right: 32px; 
    opacity: 1;    
}

.section-component:hover { 
    width: 35vw; 
    cursor: pointer;
}

.section-component.off {
    width: 0; 
    flex: none; 
}

.section-component.off .title-component { background: #fff; }

.section-box {
    width: 100%; 
    height: 100%; 
    overflow: hidden auto; 
    position: relative;
}

/* title-box */

.title-component { 
    background-color: rgba(0,0,0,0.4);
    background-size: cover; 
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: flex-end;
    transition: .3s ease-in-out;
}

.title-component:hover,
.section-component.on .title-component { background-color: transparent; }

.title-box {
    padding: 2em; 
    text-shadow: 1px 1px 5px black; 
    color: #fff;     
} 

.title-box .tit { 
    max-width: 300px; 
    margin-bottom: 1rem; 
}

.title-box .tit::before { 
    content: ''; 
    background: #faae36; 
    width: 35px; 
    height: 3px; 
    display: inline-block; 
    margin-bottom: .5rem; 
}

.title-box .tit span {
    display: block; 
    margin-bottom: .75rem;  
    font-weight: 400; 
    font-size: .95rem; 
}

.title-box .con { max-width: 600px; }

/* img box */


.text-box { width: 350px; }

/*  */

.content { height: 745px; }

.content .main-image {
    background: url('../img/fox_back.jpg') 0 0 no-repeat; 
    background-size: cover; 
}

.content-two { 
    background: linear-gradient(to bottom, transparent 1%, rgba(0,0,0,0.8)); 
    /* background: rgba(0,0,0,0.55);  */
}
